@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

$primary-color: #4158d0;

body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: linear-gradient(-135deg, #c850c0, $primary-color);
}

.wrapper{
    width: 450px;
    background: #fff;
    padding: 30px 40px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);

    .input-data{
        height: 40px;
        width: 100%;
        position: relative;

        input{
            height: 100%;
            width: 100%;
            border: none;
            font-size: 17px;
            border-bottom: 2px solid silver;

            &:focus ~ label, &:valid ~ label{
                transform: translateY(-20px);
                font-size: 15px;
                color: $primary-color;
            }
        }

        label{
            position: absolute;
            bottom: 10px;
            left: 0;
            color: #808080;
            pointer-events: none;
            transition: all 0.3s ease;
        }

        .underline{
            position: absolute;
            height: 2px;
            width: 100%;
            bottom: 0;

            &::before{
                position: absolute;
                content: "";
                height: 100%;
                width: 100%;
                background: $primary-color;
                transform: scaleX(0);
                transform-origin: center;
                transition: transform 0.3s ease;
            }
        }

        input:focus ~ .underline:before, input:valid ~ .underline:before{
            transform: scaleX(1);
        }
    }
}
